%heading {
    font-family: var(--font-display);
    font-weight: 300;
}

.heading-1 {
    @extend %heading;
    color: var(--color-primary-dark-1);
    font-weight: 400;
    font-size: 1.5rem; //24px
    line-height: 1;
    
    padding: 70px 20px 0px; // design purpose
}

.heading-2 {
    @extend %heading;
    color: var(--color-primary-dark-2);
    font-weight: 300;
    font-size: 1.25rem; //20px
    line-height: 1;
    
}

.heading-3 {
    @extend %heading;
  
}

.heading-4 {
    @extend %heading;
   
}


