%heading {
    font-family: var(--font-display);
    font-weight: 300;
}

.heading-1 {
    @extend %heading;
    font-size: 1.5rem; //24px
    color: var(--color-primary-dark-1);
    line-height: 1;
}

.heading-2 {
    @extend %heading;
   
}

.heading-3 {
    @extend %heading;
  
}

.heading-4 {
    @extend %heading;
   
}


