.mb-sm { margin-bottom: 1.25rem; }
.pb-sm { padding-bottom: 1.25rem; }
.mb-md { margin-bottom: 1.875rem; }
.mb-lg { margin-bottom: 2.5rem; }
.mb-hg { margin-bottom: 5rem; }

.mt-sm { margin-top: 1.25rem; }
.mt-md { margin-top: 1.875rem; }
.mt-lg { margin-top: 2.5rem; }
.mt-hg { margin-top: 5rem; }

.line{
    text-decoration: line-through;
}