.assets{
    width: 100vw;
    height: 65vh;
    background-color: var(--color-grey-light-1);

    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: all ease .5s;

    z-index: 600; //250
    position: absolute;
    bottom: 0;
    transform: translateY(65vh);
    &__btn-open{
        font-size: 4rem;
        line-height: 1;
        position: fixed;
        bottom: 10px;
        left: 10vw;
        z-index: 700; //300
    }

    &__checkbox:checked ~ &{
        transform: translateY(0vh);
    }
}