.cart{
    background-color: var(--color-primary-lighter);
    
    height: 100vh;

    display: grid;
    grid-template-rows: min-content auto repeat(2, min-content);

    &__toggle{
        &--logo{
            height: 50px;
        }
    }
}