.cart{
    height: 100%;
    position: absolute;
    top: -90%;
    z-index: 500;

    --ty: 0vh;
    transition: transform .5s ease-out;
    transform: translateY(var(--ty, 0px));

    display: flex;
    flex-direction: column;
    // display: grid;
    // grid-template-rows: min-content auto repeat(2, min-content);

    .heading-1{
        background-color: var( --color-secondary-light);
    }

    &__panel{
        width: 100vw;
        background-color: var( --color-secondary-light);
        overflow: scroll;
        flex: 1;
    }
    
    &__toggle{
        height: 10vh;
        background-color: transparent;

        position: relative;
        img {
            height: 80px;
            right: 10px;
            position: absolute;
        }
        &--rope {
            position: absolute;
            z-index: 2;
            right: 40px;
            height: 30px;
            width: 2px;
            background-color: black;
        }
        &--notification{
            position: absolute;
            top: 40px;
            right: 80px;
            color:#fff;
            height: 24px;
            width: 24px;
            text-align: center;
            border-radius: 24px;
            background-color: var(--color-secondary-dark);
            
            animation: show 2s ease;
            // opacity: 0;
            
        }
    }
    // &__notify{
    //     animation: show 2s ease;
    // }
    &__btn-order{
        color: var(--color-secondary-light);
        font-weight: 300;
        font-size: 1.25rem; //20px

        background-color:var(--color-primary);
        width: 100vw;
        padding: 12px;
        text-align: center;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        box-shadow: var(--shadow-light);
    }
}