.collections{
    background-color: var(--color-secondary);
    
    height: 100vh;

    display: grid;
    grid-template-rows: min-content auto;
    pointer-events: auto;
    &__panel{
        width: 100vw;
        height: 75vh;
        // background-color: var( --color-secondary-light); //test
        overflow: scroll;
    }
}