.display{
    background-color: var(--color-secondary-light);
    width: var(--width);
    height: var(--height);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    --zIndex: 300;
    z-index: var(--zIndex);
    
    position: relative;
}