.btn { 
    font-size: 1.4rem;
    &--order{
        background-color:var(--color-primary-light);
        width: 100vw;
        padding: 12px;
        text-align: center;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    &--card{
        &,
        &:link,
        &:visited {
            text-decoration: none;
            color: var(--color-primary-dark-2);
            position: absolute;
            top: 40vh;
            // background-color: rgba(255, 255, 255, 0.7);
            // height: 60px;
            // width: 15px;
        }
        font-size: 4rem;
        &-previous{
            left: 2vw;
        }
        &-next{
            right: 2vw;

        }
    }
}