.btn { 
    font-size: 1.4rem;
    &--card{
        &,
        &:link,
        &:visited {
            text-decoration: none;
            color: var(--color-primary-dark-2);
            position: absolute;
            top: 40vh;
            font-size: 4rem;
        }   
    }
}