.btn {
    &--order{
        background-color:var(--color-primary-light);
        width: 100vw;
        padding: 12px;
        text-align: center;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
}