.card{
    margin: 0 auto;
    width: 80vw;

    // transform: translateY(-60vh);
    &__display{
       position: relative;
    }
    &__title{
        position: absolute;
        top: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.7);
    }
    &__img-box{
        height: 60vh; 
        border-radius: 5px;
        overflow: hidden;  
    }
    &__img{
        width: 100%;   
        height: 100%; 
    }
    &__toolbox{
        position: absolute;
        bottom: 0;

        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        
        background-color: rgba(255, 255, 255, 0.7);
        height: 50px;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    &__info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;
        border-bottom: var(--line);
    }

    &__price{
       text-align: right;
       padding: 10px 0;
    }

    &__btn{
        &,
        &:link,
        &:visited {
            text-decoration: none;
            font-size: 4rem;
            color: var(--color-primary-dark-2);
            
            position: absolute;
            top: 45%;
        

            &--previous{
                left: -25px;
            }
            &--next{
                right: -25px;
            }
        }   
    }
    
}

.card__btn--previous{
    left: -25px;
}
.card__btn--next{
    right: -25px;
}