.column{
    height: 130px;
    overflow: hidden;

    // margin: 0 auto;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    // grid-template-areas: "display toggle top"
    //                      "display toggle bottom"
    //                      "price   price  price";
    > * {
        transition: all .2s ease;
    }
    
    &__list{
        height: 100%;
        // overflow: scroll;
        width: 80vw;
        margin: 0 auto;
    }

    &__display{
        // grid-area: display;
        grid-column: 1/ span 2;
        grid-row: 1/  span 2;
        z-index: 2;

        background-color: var(--color-primary-lighter);
        border-radius: 5px;
        max-height: 130px;
        width: 80vw;
        
        display: grid;
        grid-template-rows: 1.1fr repeat(2, .9fr) 1.2fr;
        grid-template-columns: minmax(50%, 2fr) repeat(2, 1fr);
        grid-template-areas: "img  name       name"
                             "img  accessory  accessory"
                             "img  price      switch"
                             "img  numsctrl   numsctrl";
        grid-column-gap: 10px;
        align-items: center;
       
    }

    &__toggle{
        // background-color: var(--color-primary-light);
        text-align: center;
        width: 20px;
        border-radius: 5px;
        
        // grid-area: toggle;
        grid-column: 2/3;
        grid-row: 1/2;
        justify-self: end;
       
        z-index: 3;
        
        // transform: translateX(-40px);
    }

    &__btn{
        z-index: 1;        
        width: 40px;
        text-align: center;
        line-height: 3;
        justify-self: end;
        grid-column: 2/3;

        &--top{
            // grid-area: top;
            background-color: var(--color-secondary-dark); 
            grid-row: 1/2;
            border-top-right-radius: 5px;
           
        }

        &--bottom{
            // grid-area: bottom;
            background-color: var(--color-secondary);
            grid-row: 2/3;
            border-bottom-right-radius: 5px;
           
        }
    }

    &__price{
        // grid-area: price;
        background-color: #816b85;
       
    }

    &__checkbox:checked ~ &__display,
    &__checkbox:checked + &__toggle{
        transform: translateX(-40px);
    }
    
}
