.voucher{
    margin: 0 auto;
    width: 80vw;
    
    position: relative;
    

    &__cover{
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 5px;
        height: 100%;
        padding: 10px;
        position: absolute;
        top: 0;
    }
    &__qrcode{
        // height: 150px;
        // opacity: 0.5;
        // @include absCenter;
        @include absCenter;
        font-size: 6rem;
    }
    &__barcode{
        // height: 60px;
        @include absCenter;
        top: 80%;
        font-size: 6rem;
    }

    // & .login-form__btns{
    //     display: flex;
    //     justify-content: space-evenly;
    // }

    // & .login-form__btns > .login-form__btn{  
    //     display: inline-block;
    //     border: 1px solid  var( --color-grey-light-2);
    //     border-radius: 50px;
    //     width: 50px;
    //     height: 50px;
    //     text-align: center;
    //     line-height: 3;
    //     span{
    //         &:last-child{
    //             display: none;
    //         }
    //     }   
    // }
}

// .login-form__btns{
//     display: flex;
//     justify-content: space-evenly;
// }

// .login-form__btns > .login-form__btn{  
//     display: inline-block;
//     border: 1px solid  var( --color-grey-light-2);
//     border-radius: 50px;
//     width: 50px;
//     height: 50px;
//     text-align: center;
//     line-height: 3;
//     span{
//         &:last-child{
//             display: none;
//         }
//     }   
// }
